body{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(52,65,255,1) 0%, rgba(0,0,0,1) 73%, rgba(2,1,3,1) 80%, rgba(5,4,4,1) 99%);
}

.barra-lateral{
    
    background: rgb(129, 103, 224);   
    width: 25%;
    height: 560px;
}
